{% extends 'base.html.twig' %}

{% block title %}Edit {{ snippet.name }} in {{ snippet.language.name }}{% endblock %}

{% block body %}
    <h1>Edit <code>{{ snippet.name }}</code> snippet in {{ snippet.language.name }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3">
        <a class="btn btn-outline-primary" href="{{ path('snippet_details', {'snippet': snippet.id}) }}">Cancel</a>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
