{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit <code>{{ snippet.name }}</code> snippet in {{ snippet.language.name }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Update</button>
        <a class="btn btn-danger" href="{{ path('snippet_delete', {'snippet': snippet.id}) }}">Delete</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
