{% extends 'base.html.twig' %}

{% block title %}Languages{% endblock %}

{% block body %}
    <h1 class="mb-4">Hello {{ user.username }}<span class="text-muted">#{{ user.discriminator }}</span>!</h1>
    <div class="mb-4">
        <a class="btn btn-outline-primary" href="{{ path('panel') }}">Back to snippets</a>
        <a class="btn btn-success" href="{{ path('language_add') }}">New Language +</a>
    </div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Language</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td><code>{{ language.name }}</code></td>
                <td><a href="{{ path('language_edit', {'language': language.id}) }}">Edit »</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
